<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Cadastros de Pessoas</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nome</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="pessoa-nome" placeholder="Nome">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">CPF</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="pessoa-cpf" placeholder="CPF">
            </div>
            <label class="col-sm-2 col-form-label">Telefone</label>
            <div class="col-sm-4">
              <input type="tel" class="form-control" id="pessoa-telefone" placeholder="(XX) xxxxx-xxxx">
            </div>
          </div>
          <h5>Endereço</h5>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">CEP</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="end-cep" placeholder="CEP">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 ">Logradouro</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="end-logra" placeholder="Endereço">
            </div>
            <label class="col-sm-2 ">Nº</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="end-num" placeholder="Número">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2">Bairro</label>
            <div class="col-sm-4">
              <input type="tel" class="form-control" id="end-bairro" placeholder="Bairro">
            </div>
            <label class="col-sm-2">Cidade</label>
            <div class="col-sm-4">
              <input type="tel" class="form-control" id="end-cidade" placeholder="Cidade">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2">Complemento</label>
            <div class="col-sm-10">
              <input type="tel" class="form-control" id="end-complemento" placeholder="Complemento">
            </div>
          </div>
          <div class="form-group row">
            <mat-accordion class="col-sm-12">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <label class="col-sm-6 grid-h">Últimos pedidos</label>
                  </mat-panel-title>
                  <mat-panel-description>
                    <label class="col-sm-6">Pedidos mais recentes da pessoa</label>
                  </mat-panel-description>
                </mat-expansion-panel-header>
              </mat-expansion-panel>
            </mat-accordion>
          </div>

          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>